# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env

# VSCode
.vscode/

# Docker
*.dockerfile
*.log
docker-compose.override.yml
**/docker-compose.override.yml

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
